[submodule "examples/com_klinks"]
	path = examples/com_klinks
	url = git@github.com:raeldc/kojo-klinks.git
[submodule "examples/com_klibrary"]
	path = examples/com_klibrary
	url = git@github.com:raeldc/kojo-klibrary.git
[submodule "plugin"]
	path = plugin
	url = git@github.com:raeldc/kojo-plugin.git
